.chat_record_page {}

.chat_record_page .word_list {
  font-family: LittleMatch;
  //border: 3PX #333333 solid;
  //width: 1080PX;
}

.chat_record_page .word_item {
  position: relative;
}

.chat_record_page .word_item .words {
  font-size: 15PX;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 12em;
  padding: 0 5PX;
  margin: 13PX 0 13PX 37PX;
  white-space: pre-wrap;
  border: 2PX #333333 solid;
  border-radius: 6PX;
}

.chat_record_page .word_item img {
  position: absolute;
  width: 40PX;
  top: -2PX;
}

@font-face {
  font-family: 'LittleMatch';
  src: url('../../resources/fonts/LittleMatch.ttf');
}